/auto-save-list/
/elpa/
/history
/init.el~
/places
/recentf
/settings.el
/settings.org~
/.mc-lists.el
/.emacs.desktop
/.emacs.desktop.lock
/projectile-bookmarks.eld
/backups/
/savehist
/.python-environments/
/ac-comphist.dat
/eshell/
/tramp
/bookmarks
/projectile.cache
