/auto-save-list/
/elpa/
/history
/init.el~
/places
/recentf
/settings.el
/settings.org~
/.mc-lists.el
/.emacs.desktop
/.emacs.desktop.lock
/projectile-bookmarks.eld
/backups/
/savehist
/.python-environments/
/ac-comphist.dat
/eshell/
/tramp
/bookmarks
/projectile.cache
/network-security.data
/session.104c81ca5694076f3d149970474231484800000066660079
/semanticdb
/session.10b98b4e125eb171fd150281818554485300000063440069
